* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: #84b564;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #669747;
}

a:hover {
    text-decoration: underline;
    color: #2c5d0f;
    transition: 1s;
}

h1 {
    text-align: center;
    padding: 3rem;
    font-size: 4rem;
    color: #ffffe3;
    text-shadow:
    1px 1px 3px black,
    0 0 1em #84b564,
    0 0 0.2em #84b564;
}

h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    color:#2c5d0f;
    text-shadow:
    1px 1px 3px black,
    /* 0 0 1em #49792c, */
    /* 0 0 0.1em #49792c; */
}

h3 {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    color: #49792c;
}

h4 {
    width: 100%;
    font-size: 1.6rem;
    color: #669747;
    text-shadow:
    1px 1px 3px black,;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 1.4rem;
    color: #84b564;
    text-shadow:
    1px 1px 3px black,;
    padding-top: 1.2rem;
    padding-bottom: 0.8rem;
}

p {
    padding-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #49792c;
    border-radius: 20px;
    background-color: #ffffe3;
    padding: 3rem;
    box-shadow: 1px 1px 10px;
}

pre {
    text-align: left;
}

/* nav {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #49792c;
    border-radius: 20px;
    background-color: #ffffe3;
    padding: 3rem;
    box-shadow: 1px 1px 10px;
} */

.indice ul li {
    padding: 2rem;
    text-align: center;
}

.indice ul li a {
    font-size: 2rem;
}

.but { 
    margin: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #49792c;
    border: 3px solid #ffffe3;
    border-radius: 20px;

}

.but a {
    color: #ffffe3;
    font-size: 1rem;
}

.but:hover{
    background-color: #a3cd82;
    border: 3px solid #2c5d0f;
    transition: 1s;
    cursor: pointer;
}

.but:hover a {
    color:#2c5d0f;
    cursor: pointer;
}

.navPaginas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    background-color: #49792c;
}


.navPaginas li {
    display: inline-block;
    text-align: center;
    padding: 1.5rem;
}

.navPaginas li a {
    color: #a3cd82;
}

.navPaginas li a:hover {
    text-decoration: none;
    color: #ffffe3;
}

.butJS {
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffe3;
    font-size: 1rem;
    font-weight: bold;
    background-color: #49792c;
    border: 3px solid #ffffe3;
    border-radius: 20px;

}

.butJS:hover {
    background-color: #a3cd82;
    border: 3px solid #2c5d0f;
    color: #2c5d0f;
    transition: 1s;
    cursor: pointer;
}


.divEjemplos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
